@import '../abstract/variables';

.about {
    @include maxWidth;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5rem;
    overflow-y: hidden;
    @media (max-width: 800px) {
        gap: 30px;
    }
    h1 {
        font-family: $font;
        text-align: center;
        color: #313131;
        font-weight: 700;
        font-size: 85px;
        margin-bottom: 3.5rem;
        @media (max-width: 800px) {
            font-size: 60px;
            margin-bottom: 1.5rem;
        }
    }
    .advicesabout, .flexcol {
        display: flex;
        justify-content: space-between;
        gap: 200px;
        align-items: center;
        margin-bottom: 2rem;
        @media (max-width: 800px) {
            gap: 30px;
        }
        .photoadvice {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            .bgadvice {
                position: absolute;
                bottom: 70px;
                display: block;
                width: 550px;
                height: 352px;
                background-color: #1E5AFA;
                z-index: 150;
                border-radius: 10px;
                @media (max-width: 800px) {
                    width: 200px;
                    height: 152px;
                    bottom: 40px;
                }
            }
            .temperatureimg {
                max-width: 329px;
                width: 100%;
                @media (max-width: 800px) {
                    width: 40%;
                }
            }
            img {
                position: relative;
                z-index: 220;
            }
        }
        .textadviceabout {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 0 1.2rem;
            @media (max-width: 800px) {
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            h2 {
                font-family: $font;
                color: #000F37;
                font-weight: 600;
                line-height: 46px;
                font-size: 46px;
                max-width: 13ch;
                @media (max-width: 800px) {
                    max-width: 130ch;
                }
            }
            p {
                font-family: $font;
                color: #575757;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                max-width: 35ch;
                @media (max-width: 800px) {
                    max-width: 130ch;
                }
            }
            button {
                background-color: transparent;
                border: 1px solid #000F37;
                border-radius: 5px;
                font-family: $font;
                font-weight: 500;
                font-size: 18px;
                padding: 1rem 2rem;
                cursor: pointer;
                &:hover {
                    background-color: #000F37;
                    color: #fff;
                }
            }
        }
    }
    .advicesabout {
        @media (max-width: 800px) {
             flex-direction: column;
        }
    }
    .flexcol {
        @media (max-width: 800px) {
            flex-direction: column-reverse;
       }
    }
}