@import '../abstract/variables';

.downloadcontainer {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

    padding: 7rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    .textdownload {
        display: flex;
        flex-direction: column;
        h1 {
            font-family: $font;
            color: #313131;
            font-weight: 700;
            font-size: 85px;
        }
        p {
            font-family: $font;
            color: #575757;
            font-weight: 400;
            font-size: 18px;

            max-width: 55ch;
            line-height: 21.78px;

            margin: 1.5rem 0 2rem 0;
        }
        .downloadicons {
            img {
                cursor: pointer;
            }
        }
    }
    .downloadcellimg {
        width: 60%;
    }
}