@import '../abstract/variables';

.faq {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;

    padding: 5rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: relative;
    h1 {
        font-family: $font;
        text-align: center;
        color: #313131;
        font-weight: 700;
        font-size: 85px;
        margin-bottom: 3rem;
    }
    .questioncontainer {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .question {
        padding: 1rem 3rem;
        border: 1px solid #E7EBEE;
        background-color: #FAFAFA;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        cursor: pointer;
        h3 {
            display: flex;
            align-items: center;
            gap: 20px;

            font-family: $font;
            color: #313131;
            font-size: 18px;
            &::before {
                content: '+';
                font-size: 3rem;
                font-weight: 300;
            }
        }
        .answer {
            display: none;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            max-width: 33ch;

            padding: 1rem 0;

            font-family: $font;
            color: #313131;
            font-weight: 400;
            font-size: 16px;
        }
        .answer.active {
            display: block;
            max-height: 300px;
            animation: fadeIn 0.5s ease;
            animation-fill-mode: forwards;
        }
    }
    .question.active {
        h3 {
            &::before {
                content: "−";
                color: red;
                font-weight: 400;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}