@import '../abstract/variables';

header {
    background-color: #1E5AFA;
    .headersize {
        @include maxWidth;

        padding: 1.2rem;
        z-index: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;

        position: relative;
        nav {
            @media (max-width: 800px) {
                display: none;
            }
            ul {
                display: flex;
                gap: 30px;
                li {
                    a {
                        font-family: $font;
                        font-weight: 400;
                        font-size: 18px;
                        color: #FAFAFA;
                        z-index: 700;
                        cursor: pointer;
                    }
                }
            }
        }
        h1 {
            font-family: $font;
            font-weight: 700;
            font-size: 32px;
            color: #FAFAFA;
            margin-right: 10rem;
            @media (max-width: 900px) {
                margin-right: 0rem;
            }
        }
        .forms {
            display: flex;
            align-items: center;
            gap: 20px;
            @media (max-width: 800px) {
                display: none;
            }
            a {
                font-family: $font;
                font-weight: 400;
                font-size: 17px;
                color: #FAFAFA;
            }
            .signupheader {
                padding: .7rem 2.2rem;
                background-color: #FFFFFF;
                color: #011037;
                font-family: $font;
                font-weight: 500;
                font-size: 18px;
                border-radius: 5px;
            }
        }
    }   
}

.hamburgermenumobile {
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 999;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    @media (max-width: 800px) {
        display: flex;
    }
}

.hamburgermenumobile span {
    background-color: #FAFAFA;
    width: 100%; 
    height: 3px;
    border-radius: 2px;
}