@import '../abstract/variables';

header {
    background-color: #1E5AFA;
    .headersize {
        @include maxWidth;

        padding: 1.2rem;
        z-index: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;

        position: relative;
        nav {
            @media (max-width: 800px) {
                display: none;
            }
            ul {
                display: flex;
                gap: 30px;
                li {
                    a {
                        font-family: $font;
                        font-weight: 400;
                        font-size: 18px;
                        color: #FAFAFA;
                        z-index: 700;
                        cursor: pointer;
                    }
                }
            }
        }
        h1 {
            font-family: $font;
            font-weight: 700;
            font-size: 32px;
            color: #FAFAFA;
            margin-right: 10rem;
            @media (max-width: 800px) {
                margin-right: 0rem;
            }
        }
        .forms {
            display: flex;
            align-items: center;
            gap: 20px;
            @media (max-width: 800px) {
                display: none;
            }
            a {
                font-family: $font;
                font-weight: 400;
                font-size: 17px;
                color: #FAFAFA;
            }
            .signupheader {
                padding: .7rem 2.2rem;
                background-color: #FFFFFF;
                color: #011037;
                font-family: $font;
                font-weight: 500;
                font-size: 18px;
                border-radius: 5px;
            }
        }
        .hamburgermenu {
            display: none;
            border-radius: 10px;
            z-index: 999;
            margin-right: 2rem;
            @media (max-width: 800px) {
                display: block;
            }
            span {
                display: block;
                cursor: pointer;
                width: 25px;
                height: 3px;
                margin: 5px auto 0px auto;
                transition: all 0.3s ease-in-out;
                background-color: #ffffff;
            }
        }
        .hamburgermenu.active span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        .hamburgermenu.active span:nth-child(2) {
            opacity: 0;
        }
        .hamburgermenu.active span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}