@import '../abstract/variables';

header {
    background-color: #1E5AFA;
    .headersize {
        @include maxWidth;

        padding: 1.2rem;
        z-index: 600;
        display: flex;
        justify-content: space-between;
        z-index: 100;

        position: relative;
        nav {
            ul {
                display: flex;
                gap: 30px;
                li {
                    a {
                        font-family: $font;
                        font-weight: 400;
                        font-size: 18px;
                        color: #FAFAFA;
                        z-index: 700;
                        cursor: pointer;
                    }
                }
            }
        }
        h1 {
            font-family: $font;
            font-weight: 700;
            font-size: 32px;
            color: #FAFAFA;
            margin-right: 10rem;
        }
        .forms {
            display: flex;
            align-items: center;
            gap: 20px;
            a {
                font-family: $font;
                font-weight: 400;
                font-size: 17px;
                color: #FAFAFA;
            }
            .signupheader {
                padding: .7rem 2.2rem;
                background-color: #FFFFFF;
                color: #011037;
                font-family: $font;
                font-weight: 500;
                font-size: 18px;
                border-radius: 5px;
            }
        }
    }
}