@import '../abstract/variables';

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
    padding: 3rem 0;
    gap: 50px;
    width: 100%;
    background-color: #1E5AFA;
    h1 {
        font-family: $font;
        font-weight: 800;
        font-size: 85px;
        line-height: 85px;
        color: #FAFAFA;
        @media (max-width: 500px) {
            font-size: 50px;
            text-align: center;
            line-height: 44px;
        }
    }
    .bgmain {
        z-index: 400;
        @media (max-width: 500px) {
           width: 75%;
        }
    }
    .separatebgcolors {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 470px;
        background-color: #ffffff;
        z-index: 10;
        @media (max-width: 500px) {
            height: 270px;
        }
    }
    p {
        font-family: $font;
        font-weight: 400;
        font-size: 18px; 
        color: #FAFAFA;
        max-width: 66ch;
        text-align: center;
        z-index: 300;
        @media (max-width: 500px) {
            max-width: 36ch;
            padding: 0 1rem;
        }
    }
    .downloadicons {
        z-index: 50;
        margin: 3rem 0;
        display: flex;
        gap: 40px;
        @media (max-width: 500px) {
            margin: .5rem 0;
            gap: 10px;
            justify-content: center;
            align-items: center;
        }
        img {
            cursor: pointer;
            @media (max-width: 500px) {
               width: 40%;
            }
        }
    }
}