@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  line-height: 1.4;
}

.testimonials {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials h1 {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #313131;
  font-weight: 700;
  font-size: 85px;
}
.testimonials .testimonialdesc {
  text-align: center;
  color: #575757;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  max-width: 60ch;
  margin: 2rem 0 4rem 0;
}
.testimonials .testimonialcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.testimonials .testimonialcontainer .testimonial {
  background-color: #FAFAFA;
  border: 1px solid #E7EBEE;
  padding: 3rem 2.5rem;
  z-index: 200;
  border-radius: 10px;
}
.testimonials .testimonialcontainer .testimonial p {
  max-width: 55ch;
  font-family: "Inter", sans-serif;
  line-height: 30px;
  color: #5F7285;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 2rem;
}
.testimonials .testimonialcontainer .testimonial .profiletestimonial {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonials .testimonialcontainer .testimonial .profiletestimonial h2 {
  color: #1B263D;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.testimonials .testimonialcontainer .testimonial .profiletestimonial h3 {
  color: #9C9EA3;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.faq {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: relative;
}
.faq h1 {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #313131;
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 3rem;
}
.faq .questioncontainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.faq .question {
  padding: 1rem 3rem;
  border: 1px solid #E7EBEE;
  background-color: #FAFAFA;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: pointer;
}
.faq .question h3 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Inter", sans-serif;
  color: #313131;
  font-size: 18px;
}
.faq .question h3::before {
  content: "+";
  font-size: 3rem;
  font-weight: 300;
}
.faq .question .answer {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-width: 33ch;
  padding: 1rem 0;
  font-family: "Inter", sans-serif;
  color: #313131;
  font-weight: 400;
  font-size: 16px;
}
.faq .question .answer.active {
  display: block;
  max-height: 300px;
  animation: fadeIn 0.5s ease;
  animation-fill-mode: forwards;
}
.faq .question.active h3::before {
  content: "−";
  color: red;
  font-weight: 400;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.downloadcontainer {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 7rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downloadcontainer .textdownload {
  display: flex;
  flex-direction: column;
}
.downloadcontainer .textdownload h1 {
  font-family: "Inter", sans-serif;
  color: #313131;
  font-weight: 700;
  font-size: 85px;
}
.downloadcontainer .textdownload p {
  font-family: "Inter", sans-serif;
  color: #575757;
  font-weight: 400;
  font-size: 18px;
  max-width: 55ch;
  line-height: 21.78px;
  margin: 1.5rem 0 2rem 0;
}
.downloadcontainer .textdownload .downloadicons img {
  cursor: pointer;
}
.downloadcontainer .downloadcellimg {
  width: 60%;
}

footer .footersize {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10rem 0;
}
footer .footersize .footercontainerinput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footersize .footercontainerinput h2 {
  font-family: "Inter", sans-serif;
  color: #313131;
  font-size: 32px;
  font-weight: 700;
}
footer .footersize .footercontainerinput p {
  font-family: "Inter", sans-serif;
  color: #575757;
  font-size: 16px;
  font-weight: 400;
  max-width: 35ch;
}
footer .footersize .footercontainerinput .inputregister {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 2rem;
}
footer .footersize .footercontainerinput .inputregister input {
  font-family: "Inter", sans-serif;
  color: #575757;
  font-size: 14px;
  font-weight: 400;
  background-color: #FAFAFA;
  border: 1px solid #E7EBEE;
  border-radius: 5px;
  padding: 0.7rem 1rem;
}
footer .footersize .footercontainerinput .inputregister button {
  font-family: "Inter", sans-serif;
  color: #011037;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #011037;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
}
footer .footersize .footercontaineroptions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footersize .footercontaineroptions h2 {
  font-family: "Inter", sans-serif;
  color: #2E2E2E;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
footer .footersize .footercontaineroptions nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footersize .footercontaineroptions nav ul li a {
  font-family: "Inter", sans-serif;
  color: #575757;
  font-size: 18px;
  font-weight: 400;
}
footer .cop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: #000F37;
}
footer .cop p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #FAFAFA;
}

.subscribecontainer {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  background-color: #1E5AFA;
  border: 1px solid #FAFAFA;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 8rem;
}
.subscribecontainer .vectorsubscribe {
  position: absolute;
  bottom: 0;
  right: 25px;
}
.subscribecontainer .subscribetext {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.subscribecontainer .subscribetext h1 {
  font-family: "Inter", sans-serif;
  color: #FDFDFF;
  font-size: 48px;
  font-weight: 600;
}
.subscribecontainer .subscribetext p {
  font-family: "Inter", sans-serif;
  color: #F5F2FF;
  font-size: 18px;
  font-weight: 400;
  max-width: 45ch;
}
.subscribecontainer button {
  font-family: "Inter", sans-serif;
  color: #FAFAFA;
  font-size: 18px;
  font-weight: 500;
  max-width: 45ch;
  padding: 1.5rem 5rem;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #FAFAFA;
}

.vectorblue {
  position: absolute;
  left: 0;
  top: 500px;
}

.vectorline {
  position: absolute;
  right: 0;
  top: 700px;
  z-index: 1;
}/*# sourceMappingURL=styles.css.map */